<div class="container mt-4">
    <h1 class="text-center">Welcome to the Quiz System</h1>
  
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <a routerLink="/quiz-list"><img src="assets/quiz-list.jpg" class="card-img-top" alt="Quiz List"></a>
          <div class="card-body">
            <h5 class="card-title">Quiz List</h5>
            <p class="card-text">Explore and take quizzes from the list of quizzes.</p>
            <a routerLink="/quiz-list" class="btn btn-primary">View Quizzes</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a routerLink="/create-quiz"><img src="assets/create-quiz.jpg" class="card-img-top" alt="Create Quiz"></a>
          <div class="card-body">
            <h5 class="card-title">Create Quiz</h5>
            <p class="card-text">Create new quizzes to add to the system.</p>
            <a routerLink="/create-quiz" class="btn btn-primary">Create New Quiz</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <a routerLink="/create-question"><img src="assets/create-question.jpg" class="card-img-top" alt="Create Question"></a>
          <div class="card-body">
            <h5 class="card-title">Create Question</h5>
            <p class="card-text">Add new questions to the quiz system.</p>
            <a routerLink="/create-question" class="btn btn-primary">Add New Question</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  